<div
  class="shadow-lg rounded-lg p-6 mb-4 transition duration-300 ease-in-out hover:shadow-xl border border-gray-400"
>
  <h3 class="text-xl font-semibold mb-2">{{ task.Title }}</h3>
  <div class="flex items-start mb-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2 mt-1 flex-shrink-0"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
      />
    </svg>
    <p class="leading-relaxed">{{ task.Description }}</p>
  </div>
  <div class="flex items-center text-sm">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 mr-1"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
      />
    </svg>
    <time [attr.datetime]="date">{{ date }}</time>
  </div>
</div>
